.cabecalho-item {
  margin-left: 20px;
}

* {
  margin: 0;
  text-decoration: none;
  padding: 0;
}

.primeiro {
  margin: 0;
  border: none;
}

.container5 {
  position: relative;
}

.fadeInOut {
  opacity: 0;
  /* Começa com a opacidade zero */
  animation: fade 4s infinite;
  /* Aplica a animação "fade" com duração de 4 segundos */
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  /* Começa e termina com a opacidade zero */
  50% {
    opacity: 1;
  }

  /* Opacidade máxima no meio da animação */
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.cabecalho nav a:hover {
  opacity: 0.5;
}

.fadeInOut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 60px;
  opacity: 0;
  /* Começa com a opacidade zero */
  animation: fade 4s infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .corpo,
  .container-text {
    font-size: 10px;
    margin: auto;
  }
}

.cabecalho {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(4, 68, 95);
}

@media (max-width: 600px) {
  .cabecalho {
    float: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.cabecalho-item {
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1998b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 15px;
}

.btn:hover {
  background-color: #0056b3;
}

.logo {
  padding: 24px;
}

.container-text {
  border: none;
  font-size: 30px;

  color: rgb(0, 0, 0);
  height: 200px;
  background-color: #f1f1f1;
  text-align: center;
  background-color: rgb(251, 251, 251);
  padding-top: 75px;
}

.centered-text {
  color: rgb(4, 68, 95);
  font-size: 40px;
  margin-bottom: 65px;
}

/*aqui é o menu com os 4 itens*/

/*arrumar espaçamento entre a imagem e as divs*/
.servicos {
  background-color: rgb(25, 152, 184);
}

.servicos a {
  color: #fff;
}

.servicos h2 {
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  height: 15vh;
  padding-top: 75px;
}

.image-container {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: px;
  background-color: rgb(25, 152, 184);
}

.image-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.image-wrapper1 {
  text-align: center;
  margin-bottom: 40px;

  object-fit: cover;
}

.image-wrapper1 img {
  width: 100%;
  height: auto;
}

.image-wrapper1 h3 {
  color: #f1f1f1;
  margin: 10px 0;
}

.image-wrapper a {
  font-size: 10px;

  text-decoration: none;
  color: white;
}

/*parte do icones*/

.icons-3 {
  display: flex;

  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .icons-3 {
    height: 24vh;
    text-align: center;
  }
}

/*lista */
.par {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: left;
}

.par1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: right;
}

.par li {
  list-style-type: none;
}

.name-par {
  margin-top: 45px;
  text-align: center;
  border-bottom: 30px;
}

.simu {
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: rgb(4, 68, 95);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.button1 {
  margin-top: 15px;
  display: inline-block;
  padding: 17px 130px;
  background-color: rgb(25, 152, 184);
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
}

/*rodape e whatsapp*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-button a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgb(4, 68, 95);
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-icon {
  height: 50px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/*pagina de serviços*/

.texto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

.textoo {
  flex: 1;
  text-align: center;
  font-weight: 100;
}

.imagee {
  margin-left: 100px;
  margin-right: 100px;
}

.texto h2 {
  text-align: center;
  color: rgb(4, 68, 95);
}

@media only screen and (max-width: 768px) {
  .texto {
    max-width: 100%;
    height: auto;
  }
}

/*quem somos*/
.quem {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  color: rgb(4, 68, 95);
}

@media (max-width: 600px) {
  .quem {
    font-size: 18px;
    margin: auto;
    line-height: 30px;
    padding: 30px 30px;
  }
}

.foto {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .foto img {
    width: 100%;
  }
}

.footer-desktop {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.footer-mobile {
  display: none;
}

@media (min-width: 200px) and (max-width: 800px) {
  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #animatedText {
    display: none;
  }
  .centered-text {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 40px;
  }
  .servicos {
    padding-top: 30px;
  }
  .par {
    padding: 10px 20px;
    font-size: 12px;
  }
  .servicos h2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .simu h3 {
    font-size: 20px;
  }
  .button1 {
    padding: 17px 30px;
  }
  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: block;
  }
  .footer-left {
    margin-left: 0;
  }
  .footer-mobile p {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 75px;
  }
  .container-mobile {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
  }
  #img-servico {
    width: 100%;
  }
}
